:root {
    --body-background-color: #ffebd2;
    --body-text-color: #0d0342;
    --card-background-color: #ffffff;
    --nav-background-color: #4ffaff;
    --nav-border-bottom-color: #0a00be;
    --nav-current-border-bottom-color: #0082ff;
    --card-border-color: #0082ff;
    --down-border-left-color: #6b1020;
    --down-background-color: #eb3b5a;
    --degraded-border-left-color: #f7b731;
    --up-border-left-color: #20bf6b;
    --tag-color: #0d0342;
    --tag-up-background-color: #20bf6b;
    --tag-down-background-color: #eb3b5a;
    --tag-degraded-background-color: #f7b731;
    --change-background-color: #f7b731;
    --error-button-border-color: #0d0342;
    --error-button-background-color: #0a00be;
    --error-button-color: #ffffff;
    --submit-button-border-color: #0d0342;
    --submit-button-background-color: #0a00be;
    --submit-button-color: #ffffff;
    --graph-opacity: 1;
    --graph-filter: none;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --body-background-color: #0d0342;
      --body-text-color: #ffebd2;
      --card-background-color: #0a00be;
      --nav-background-color: #0a00be;
      --nav-border-bottom-color: #0082ff;
      --nav-current-border-bottom-color: #4ffaff;
      --card-border-color: #0a00be;
      --down-border-left-color: #eb3b5a;
      --down-background-color: #6b1020;
      --degraded-border-left-color: #f7b731;
      --up-border-left-color: #20bf6b;
      --tag-color: #0d0342;
      --tag-up-background-color: #20bf6b;
      --tag-down-background-color: #6b1020;
      --tag-degraded-background-color: #0038ff;
      --change-background-color: #0038ff;
      --error-button-border-color: #0a00be;
      --error-button-background-color: #0d0342;
      --error-button-color: #ffebd2;
      --submit-button-border-color: #0a00be;
      --submit-button-background-color: #0d0342;
      --submit-button-color: #ffebd2;
      --graph-opacity: 1;
      --graph-filter: none;
    }
  }